﻿/*@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }*/
#myheader {
    height: 8em;
    border-bottom: 1px solid black;
    background-image: url(../Models/img/header_bild.jpg);
    background-size: 32em;
    background-position-y: 230em;
}

.mynav {
    background-color: #a7a7a7;
}

.mymain {
    min-height: 100%;
    /*border-bottom: 1px solid black;*/
    width: 80%;
    float: left;
    /*background-color: green;*/
}


.mycarousel {
    width: 45em;
    height: 30em;
    margin-left: 15em;
}

.mybody {
    background-color: lightgray;
}

#myaside {
    margin-top: 7em;
    border: 1px solid black;
    float: right;
    width: 20%;
    min-height: 33em;
    background-image: url(../Models/img/geppert.jpg);
    background-repeat: no-repeat;
    background-size: 80% 7em;
    background-position: center;
    background-position-y: 4em;
    background-color: white;
}

#adtext{
    margin-top: 10em;
    text-align: center;
}

.mybasketitem{
    width: 70%;
    float:left;
    margin-left: 1em;
}

#txheader{
    font-size: 2em;
    text-align:center;
    color:#2d2d2d;
}

#txcontent{
    text-align: center;

}

#myfooter {
    clear: both;
    margin-top: 30em;
    text-align: right;
    padding: 16px 10px 0px 10px;
    font-size: 80%;
    letter-spacing: 3px;
    border: 1px solid black;
    background-color: #2a2a2a;
    height:15em;
    color: whitesmoke;
}

th,td{
   text-align: left;
   padding-left: 2em;
}

.myaddress{
    margin-left: 4em;
}

.mypaylogo{
    text-align: center;
}


#myfootertable{
    border-collapse:collapse;
}

#adheader{
    color: #3273de;
    text-align: center;
    font-size: 2em;
}

/*.forms {
    width: 30%;
   margin: 0px auto;
}*/

 /*cssbutton {
    background-color: #808080;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    float: left;
}

    #cssbutton:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }

#headersatz {
    text-align:center;
    letter-spacing: 3px;
    /*animation-name: headersatz;
    animation-duration: 2s;
    animation-iteration-count: 1;*/


/*@keyframes headersatz{
    from {text-align:left}
    to{text-align:center}
}*/

/*#layoutüberschrift{
    text-align: center;
}

.border-left{
    border-left: 1px solid black;
}*/
