﻿

@model List<Projekt_Geppert_Lener.Models.ChatUser>
@using Projekt_Geppert_Lener.Models

@{
    ViewBag.Title = "AllMessagesToMe";
}

<h2 class="display-4 center-block text-center">Posteingang</h2>


@if (Model != null)
{

    <body>
        @foreach (ChatUser c in Model)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Von: @c.RecieverName</h5>
                    <p class="card-text">Betreff: @c.Chat.Subject</p>
                    <p class="card-text">@c.Chat.Text</p>
                    @*<a class="btn btn-primary" href="ChatDetailed/@a.ID" )>Details</a>*@
                </div>
            </div>

        }
    </body>
}
else
{
    <p>keine Nachrichten vorhanden</p>
}