﻿
@model Projekt_Geppert_Lener.Models.ChatUser

@{
    ViewBag.Title = "newMessage";
}

<h2 class="display-4 center-block text-center">Neue Nachricht</h2>

<div style="margin-left:35em">
    <h2 class="display-4">Hier können Sie nachrichten versenden</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <div class="col-sm-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="toLabel">An</span>
                </div>
                @Html.TextBoxFor(c => c.RecieverName)
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="subLabel">Betreff</span>
                </div>
                @Html.TextBoxFor(c => c.Chat.Subject)
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="textLabel">Text</span>
                </div>
                @Html.TextBoxFor(c => c.Chat.Text)
            </div>

            <button class="btn btn-primary" type="submit">Senden!</button>
            <button class="btn btn-primary" type="reset">Abbrechen</button>


        </div>
    }
</div>