﻿
@{
    /**/

    ViewBag.Title = "Index";
}
<div style="max-width: 100%">
    <main class="mymain" @*div class="row"*@>
        @*<div class="col">*@
        <h2 class="display-4 center-block text-center">Willkommen auf der Tuiflwebsite!</h2>

        <p class="text-center">Diese Webseite dient zur Unterhaltung wie auch zum Handeln und Kaufen von Masken, Fellen und Glocken.</p>
        <p class="text-center">
            Hast du schon ein Konto? @Html.ActionLink("-Melde dich an", "login", "user"),
            um unseren Flohmarkt zu verwenden und deine Sachen zu verkaufen. Falls du kein Konto hast, @Html.ActionLink("registriere dich jetzt!", "registrierung", "user")
        </p>
        <p class="text-center">
            Natürlich sind unsere Funktionen kostenlos und deine Daten werden nur
            für uns verwendet und an keine Dritten weitergegeben!
        </p>

        <div class="bd-example ">
            <div id="carouselExampleCaptions" class="carousel slide center-block mycarousel" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Models/img/src1.jpg" class="d-block w-100" alt="">
                        @*<div class="carousel-caption d-none d-md-block">
                                <h5>Stubaier Tuifl</h5>
                                <p>Mitglied: Jannik Lener</p>
                            </div>*@
                    </div>
                    <div class="carousel-item">
                        <img src="~/Models/img/src2.jpg" class="d-block w-100" alt="...">
                        @*<div class="carousel-caption d-none d-md-block">
                                <h5>Überschrift</h5>
                                <p>Text</p>
                            </div>*@
                    </div>
                    <div class="carousel-item">
                        <img src="~/Models/img/src3.jpg" class="d-block w-100" alt="...">
                        @*<div class="carousel-caption d-none d-md-block">
                                <h5>Überschrift</h5>
                                <p>Text</p>
                            </div>*@
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        @*</div>*@
        <br />
        <br />
        
        <p id="txheader">Das Ziel dieser Website ist es, die Tradition in Österreich am Leben zu halten.</p>
        <p id="txcontent">
            Hiermit wollen wir Leute errerichen die diese Tradition weiterführen
            und wollen zum einfachen Kaufen von Maske, Fellen und Merge beitragen.<br />
            Verkaufe jetzt deinen Artikel in der @Html.ActionLink("Börse", "addarticletomarket", "market") oder
            tausche deine Erfahrungen mit anderen Usern in unseren Forum        @*Ändern, dass User nur über Text der Website Artikel hinzufügen kann wenn er eingelogged ist*@

        </p>  
        
       


    </main>
    <aside id="myaside">
        <header id="adheader">Erneuerbare Energie</header>
        <p id="adtext">
            Nachhaltige Entwicklung und Umweltschutz sind bei Geppert Programm.
            Bei der Herstellung und Montage unserer Produkte gehen wir möglichst sparsam mit Energien um und wir vermeiden Abfälle.
            Es werden möglichst umweltverträgliche Betriebsmittel eingesetzt.Forcierung der verstärkten Nutzung von erneuerbaren Energieträgern ist erklärtes Ziel der Klimaschutzkonferenz.
        </p>

        @*<footer class="footer myfooter">
                Impressum Seavas
            </footer>*@
    </aside>
</div>