﻿
<div class="text-left">
    <table id="myfootertable">
        @*<thead class="myfooter">*@
        <tr>
            <th class="myaddress">Adresse</th>
            <th>Zahlung</th>
            <th>Kontakt</th>
            <th>Über uns</th>
        </tr>

        @*</thead>*@

        @*<tbody class="myfooter">*@
        <tr>
            <td class="myaddress">
                Tirol
            </td>
            <td class="mypaylogo">
                <i class="fab fa-cc-paypal" style="font-size:3em"></i>
            </td>
            <td>
                Jannik Lener
            </td>
            <td>
                Schüler der HTL Anichstraße
            </td>
        </tr>
        <tr>
            <td class="myaddress">
                Innsbruck, 6020
            </td>
            <td class="mypaylogo">
                <i class="fab fa-cc-visa" style="font-size: 3em"></i>
            </td>
            <td>
                Leonard Geppert
            </td>
        </tr>
        <tr>
            <td class="myaddress">
                Anichstraße, 26-28
            </td>
            <td class="mypaylogo">
                <i class="fab fa-cc-mastercard" style="font-size: 3em;"></i>
            </td>
            <td>
                Tel.: +43 512 59717 0
            </td>
        </tr>
        @*</tbody>*@

    </table>
</div>

