﻿@model Projekt_Geppert_Lener.Models.Message

@if (Model != null)
{
    if ((Model.Header != null) && (Model.Header.Trim() != ""))
    {
        <h3>@Model.Header</h3>
    }
    if ((Model.AdditionalHeader != null) && (Model.AdditionalHeader.Trim() != ""))
    {
        <h4>@Model.AdditionalHeader</h4>
    }
    if ((Model.MessageText != null) && (Model.MessageText.Trim() != ""))
    {
        <p><b>Meldung</b></p>
        <p>@Model.MessageText</p>
    }
    if ((Model.Solution != null) && (Model.Solution.Trim() != ""))
    {
        <p><b>Lösung</b></p>
        <p>@Model.Solution</p>
    }
}
else
{
    <p>
        Es wurde keine Meldung übergeben
    </p>
}