﻿<nav class="@*fixed-top*@ navbar navbar-expand-lg navbar-light mynav @*bg-light*@ ">
    @Html.ActionLink("Home", "Index", "home", null, new { @class = "navbar-brand" })

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-expand-lg" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <li class="nav-item">@Html.ActionLink("Shop", "ArticleOverview", "shop", null, new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Börse", "MarketOverview", "market", null, new { @class = "nav-link" })</li>

            @if (Session["isAdmin"] != null)
            {
                if ((bool)Session["isAdmin"] == true)
                {
                    <li class="nav-item dropdown navbar-right">
                        <a class="nav-link dropdown-toggle hidden-lg" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Adminrechte
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="nav-item">@Html.ActionLink("Artikel hinzufügen", "AddArticle", "shop", null, new { @class = "nav-link" })</a>
                            <a class="nav-item">@Html.ActionLink("Artikelverwaltung", "EditArticle", "shop", null, new { @class = "nav-link" })</a>
                        </div>
                    </li>
                }
            }

            <li class="nav-item dropdown navbar-right">
                <a class="nav-link dropdown-toggle hidden-lg" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Konto
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    @if (Session["loggedInUser"] == null)
            {
                        <a class="dropdown-item">@Html.ActionLink("Login", "login", "user", null, new { @class = "nav-link" })</a>
                        <a class="dropdown-item">@Html.ActionLink("Registrierung", "registrierung", "user", null, new { @class = "nav-link" })</a>
                    }
                    @if (Session["loggedInUser"] != null)
            {
                        <a class="dropdown-item">@Html.ActionLink("Artikel in der Börse anbieten", "AddArticleToMarket", "market", null, new { @class = "nav-link" })</a>
                        <a class="dropdown-item">@Html.ActionLink("Konto verwalten", "ChangeData", "user", null, new { @class = "nav-link" })</a>
                        <a class="dropdown-item">@Html.ActionLink("abmelden", "Logout", "user", null, new { @class = "nav-link" })</a>
                    }
                </div>
            </li>

            @if (Session["loggedInUser"] != null)
            {
                <li class="nav-item dropdown navbar-right">
                    <a class="nav-link dropdown-toggle hidden-lg" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Chat
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                             <a class="nav-item">@Html.ActionLink("Nachricht senden", "newMessage", "chat", null, new { @class = "nav-link" })</a>
                             <a class="nav-item">@Html.ActionLink("Posteingang", "AllMessagesToMe", "chat", null, new { @class = "nav-link" })</a>
                             <a class="nav-item">@Html.ActionLink("Postausgang", "AllMessagesfromMe", "chat", null, new { @class = "nav-link" })</a>
                    </div>
        </li>
        <li class="nav-item">@Html.ActionLink("Zum Warenkorb", "BasketOverview", "basket", null, new { @class = "nav-link" })</li>
        }
    </ul>
            </div>
        </nav>