﻿
@model Projekt_Geppert_Lener.Models.Article

@{
    ViewBag.Title = "ArticleDetailed";
}

<h2 class="display-4 center-block text-center">Detailansicht des Artikels</h2>

@if ((Model != null) && (Session["loggedInUser"] != null))
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@Model.ImagePath" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Preis:@Model.Price</li>
            <li class="list-group-item">Verkäufer:@Model.Seller</li>
            <li class="list-group-item" >Typ:@Model.ArticleType</li>
            <li class="list-group-item">Auf Lager:@Model.Amount</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">@Html.ActionLink("zurück zu alle Artikel", "ArticleOverview", "shop")</a>
            @if (Model.Amount > 0)
            {
                <a href="/basket/AddItem/?ItemToChange=@Model.ID&changeValue=1" class="card-link">Kaufen</a>
            }
            else
            {
                <p>Dieser Artikel ist momentan leider nicht verfügbar</p>
            }
        </div>
    </div>
}
else if(Session["loggedInUser"] != null)
{
    <p>Dieser Artikel scheint nicht vorhanden zu sein vorhanden :(</p>
    <p>@Html.ActionLink("zurück zu alle Artikel", "ArticleOverview", "shop")</p>
}

else
{
    <p>@Html.ActionLink("Sie müssen sich zuerst anmelden", "login", "user")</p>
}