﻿
@model List<Projekt_Geppert_Lener.Models.Article>
@using Projekt_Geppert_Lener.Models

@{
                ViewBag.Title = "ArticleOverview";
}

<h2 class="display-4 center-block text-center">Willkommen in der Hölle!</h2>

@if (Model != null)
{

<body>
    @foreach (Article a in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@a.ImagePath" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@a.Name</h5>
                <p class="card-text">@a.Price € </p>
                <a class="btn btn-primary" href="ArticleDetailed/@a.ID" )>Buy Now!</a>
            </div>
        </div>

    }

    
</body>
}
else
{
    <p>kein Artikel vorhanden</p>
}