﻿
@model List<Projekt_Geppert_Lener.Models.Article>
@using Projekt_Geppert_Lener.Models

@{
    ViewBag.Title = "EditArticle";
}

<h2>Artikel bearbeiten</h2>

@if (Model != null)
{
    <table class="showContent">
        <thead>
            <tr>
                <th>Name</th>
                <th colspan="3">Auf Lager</th>
                <th>Löschen</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Article a in Model)
            {
                <tr>                   
                    <td>@a.Name</td>
                    <td>@a.Amount</td>
                    <td>
                        @if (a.Amount > 0)
                        {
                            <a class="btn btn-primary" href="ChangeAmount/?articleID=@a.ID&amount=-1" )>-1</a>
                        }
                        else
                        {
                            <a class="btn btn-primary">//</a>
                        }
                    </td>
                    <td><a class="btn btn-primary" href="ChangeAmount/?articleID=@a.ID&amount=1" )>+1</a></td>
                    <td><a class="btn btn-primary" href="DeleteArticle/?articleID=@a.ID" )>X</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>kein Artikel vorhanden</p>
}
