﻿
@model Projekt_Geppert_Lener.Models.Article

@{
    ViewBag.Title = "AddArticleToMarket";
}


<div style="margin-left:35em">
    <h2 class="display-4">Hier können Sie Artikel hinzufügen</h2>
    @using (Html.BeginForm("AddArticleToMarket", "market", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary()
    <div class="col-sm-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="fnLabel">Name des Produkts</span>
            </div>
            @Html.TextBoxFor(p => p.Name)
            @Html.ValidationMessageFor(p => p.Name)
        </div>


        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="lnLabel">Preis</span>
            </div>
            @Html.TextBoxFor(p => p.Price)
            @Html.ValidationMessageFor(p => p.Price)
        </div>


        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">ArtikelTyp</label>
            </div>
            @Html.EnumDropDownListFor(p => p.ArticleType)
            @Html.ValidationMessageFor(p => p.ArticleType)
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="unameLabel">Auf Lager</span>
            </div>
            @Html.TextBoxFor(p => p.Amount)
            @Html.ValidationMessageFor(p => p.Amount)
        </div>

        <label for="file">Upload Image:</label>
        @*<input type="file" name="Img" id="Img" required />*@
        @Html.TextBoxFor(p => p.Img, new { type = "file" })

        <button class="btn btn-primary" type="submit">Hinzufügen!</button>
        <button class="btn btn-primary" type="reset">Abbrechen</button>


    </div>
    }
</div>
