﻿
@model List<Projekt_Geppert_Lener.Models.Article>
@using Projekt_Geppert_Lener.Models

@{
    ViewBag.Title = "MarketOverview";
}

<h2 class="display-4 center-block text-center">Kaufe von anderen Mitgliedern!</h2>

@if (Model != null)
{

    <body>
        @foreach (Article a in Model)
        {
            
                <div class="card" style="width: 18rem;">
                    <img src="@a.ImagePath" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@a.Name</h5>
                        <p class="card-text">@a.Price € (Verhandlungsbasis)</p>
                        <a class="btn btn-primary" href="MarketDetailed/@a.ID" )>zum Produkt</a>
                    </div>
                </div>
            

        }
    </body>
}
else
{
    <p>kein Artikel vorhanden</p>
}