﻿
@model Projekt_Geppert_Lener.Models.Article
@using Projekt_Geppert_Lener.Models

@{
    ViewBag.Title = "MarketDetailed";
}

<h2 class="display-4 center-block text-center">Schau es dir genauer an!</h2>

@if ((Model != null) && (Session["loggedInUser"] != null))
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@Model.ImagePath" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Verhandlungsbasis:@Model.Price</li>
            <li class="list-group-item">Verkäufer:@Model.Seller</li>
            <li class="list-group-item">Typ:@Model.ArticleType</li>
            <li class="list-group-item">Auf Lager:@Model.Amount</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">@Html.ActionLink("zurück zu alle Artikel", "MarketOverview", "Market")</a>
            <a href="/market/sendMessage/?seller=@Model.Seller" class="card-link">Kontakt zum Käufer herstellen</a>
        </div>
    </div>
}
else if (Session["loggedInUser"] != null)
{
    <p>kein Artikel vorhanden</p>
    <p>@Html.ActionLink("zurück zu alle Artikel", "ArticleOverview", "shop")</p>
}
else
{
    <p>@Html.ActionLink("Sie müssen sich zuerst anmelden", "login", "user")</p>
}