﻿
@model List<Projekt_Geppert_Lener.Models.BasketItem>
@using Projekt_Geppert_Lener.Models

@{
    ViewBag.Title = "BasketOverview";
}

<h2 class="display-4 center-block text-center">Dein Warenkorb</h2>


@if (Model != null)
{

    foreach (BasketItem b in Model)
    {

        <ul class="list-group mybasketitem">
            <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color:#aaaaaa">
                <img src="@b.Article.ImagePath" style="width: 6em" />
                @b.Article.Name
                @b.Article.Price €
                @b.Article.Seller
                <a class="btn btn-primary" href="AddItem/?ItemToChange=@b.Article.ID&changeValue=-1" )>-1</a>
                @if (b.Article.Amount > 0)
                {
                    <a class="btn btn-primary" href="AddItem/?ItemToChange=@b.Article.ID&changeValue=+1" )>+1</a>
                }
                else
                {
                    <p>Dieser Artikel ist nicht mehr vorhanden!</p>
                }
                <span class="badge badge-primary badge-pill">@b.Basket.Amount Stk.</span>
            </li>
        </ul>

    }
    <ul class="list-group mybasketitem">
        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color:darkgrey">
            <a class="btn btn-primary" href="Bill/" )>Zur Kassa gehen</a>
        </li>
    </ul>
}
else
{
    <p>kein Artikel vorhanden</p>
}
