﻿

@model Bill
@using Projekt_Geppert_Lener.Models

@{
    ViewBag.Title = "Bill";
}

<h2>Bestellen</h2>

<ul class="list-group mybasketitem">
    @foreach (BasketItem b in Model.BasketContent)
    {

        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color:#aaaaaa">
            <img src="@b.Article.ImagePath" style="width: 6em" />
            @b.Article.Name
            @b.Article.Price €
            @b.Article.Seller /Stk
            <span class="badge badge-primary badge-pill">@b.Basket.Amount Stk.</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color:#aaaaaa">
            <img src="@b.Article.ImagePath" style="width: 6em" />
            @(b.Article.Price * b.Basket.Amount) €
        </li>

    }

    <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color:#aaaaaa">       
        <a class="btn btn-primary" href="/basket/Mail" )>Zahlen</a>
        Gesamt:
        @Model.SummPrice()
    </li>
</ul>