﻿
@model Projekt_Geppert_Lener.Models.User

@{
    ViewBag.Title = "ChangeData";
}

<h2 id="layoutüberschrift">Konto verwalten</h2>

@if (Model != null)
{
    using (Html.BeginForm())
    {
   


        <div class="forms">
            <table>
                <thead>
                    <tr>
                        <td colspan="3">
                            @Html.ValidationSummary()
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.LabelFor(p => p.Firstname, "Vorname:")
                        </td>
                        <td>
                            @Html.TextBoxFor(p => p.Firstname)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(p => p.Firstname)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(p => p.Lastname, "Nachname *:")
                        </td>
                        <td>
                            @Html.TextBoxFor(p => p.Lastname)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(p => p.Lastname)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(p => p.Gender, "Geschlecht:")
                        </td>
                        <td>
                            @Html.EnumDropDownListFor(p => p.Gender)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(p => p.Gender)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(p => p.EMail, "Email *:")
                        </td>
                        <td>
                            @Html.TextBoxFor(p => p.EMail, new { type = "email" })
                        </td>
                        <td>
                            @Html.ValidationMessageFor(p => p.EMail)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(p => p.Username, "Benutzername *:")
                        </td>
                        <td>
                            @Html.TextBoxFor(p => p.Username)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(p => p.Username)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="center">
                            <input type="submit" class="" value="Ändern" />
                            <input type="reset" class="" value="Abbrechen" />
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">*-Felder sind pflichtfelder</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
}
else
{
    <p>Sie müssen sich zuerst einloggen oder sich registrieren bevor Sie ein Konto Verwalten können</p>
}

