﻿
@model Projekt_Geppert_Lener.Models.User

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align: center">Willkommen, @Model.Username</h2>


@if (Model == null)
{
    <p>Sie sind noch nicht registriert!</p>
}
else
{
    <p style="color:grey; text-align:center">Sie sind eingelogged als @Model.Username</p>
}

