﻿@model Projekt_Geppert_Lener.Models.User

@{
                /**/

                ViewBag.Title = "Login";
}


<div style="margin-left:35em">
    <h2 class="display-4">Login</h2>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <div class="col-sm-4 center-block">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="unameLabel">Username</span>
                </div>
                @Html.TextBoxFor(u => u.Username, new { @class = "form-control" })
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="pwLabel">Password</span>
                </div>
                @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
            </div>

            <input type="submit" class="btn btn-success" value="Login!"/>
            <input type="reset" class="btn btn-outline-danger" value="Abbrechen" />


        </div>
    }
</div>
