﻿
@model Projekt_Geppert_Lener.Models.User

@{
                /**/

                ViewBag.Title = "Registrierung";
}


<div style="margin-left:35em">
    <h2 class="display-4">Registrieren Sie sich jetzt!</h2>
    @using (Html.BeginForm())
    {
        <div class="col-sm-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="fnLabel">Vorname</span>
                </div>
                @Html.TextBoxFor(p => p.Firstname)
                @Html.ValidationMessageFor(p => p.Firstname)
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="lnLabel">Nachname</span>
                </div>
                @Html.TextBoxFor(p => p.Lastname)
                @Html.ValidationMessageFor(p => p.Lastname)
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="unameLabel">Username</span>
                </div>
                @Html.TextBoxFor(p => p.Username)
                @Html.ValidationMessageFor(p => p.Lastname)
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Geschlecht</label>
                </div>
                @Html.EnumDropDownListFor(p => p.Gender)
                @Html.ValidationMessageFor(p => p.Gender)
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="unameLabel">E-Mail</span>
                </div>
                @Html.TextBoxFor(p => p.EMail, new { type = "email" })
                @Html.ValidationMessageFor(p => p.EMail)
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="pwLabel">Passwort</span>
                </div>
                @Html.PasswordFor(p => p.Password)

                @Html.ValidationMessageFor(p => p.Password)
            </div>
            <button class="btn btn-primary" type="submit">Registrieren!</button>
            <button class="btn btn-primary" type="reset">Abbrechen</button>


        </div>
    }
</div>